.header_div
{
    background: black;
    color:white;
}
.header_div img
{
    width: 100px;
}

.main_div
{
    background: linear-gradient(to right top, #000000, #091a25, #13232c, #283035, rgb(60, 60, 77));
    padding: 10px;
    margin-top: 15px;
    border:3px solid black;
}

.main_div label
{
    background:linear-gradient(to right top, #02243f, #063c5f, #044a72, #117fb9, #5ca3c4); 
    color: white;
    padding: 10px;
    width:310px;
    box-shadow: 5px 5px 18px black;
    margin-bottom: 0px;
}
#camera
{
 border: 2px solid black;
 width: 310px;
 height: 300px;
 box-shadow: 5px 5px 18px black;
 background-color: white;
}

.main_div button
{
    width:310;
    font-size: 16px;
     box-shadow:5px 5px 18px black ;
     border:1px solid;
}

body{
    background-color: black;
    font-family: 'Redressed', cursive;
}

.footer_div img{
    width:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer_div h4{
    background: linear-gradient(to right top, #078fff, #0b578d, #1ff7d3, #495257, #082836); 
    border-radius: 10px;
    box-shadow:5px 5px 18px black;
    margin-bottom: 50px;
    color: white;
    font-size: 30;
}

.copy_right_footer{
    position:fixed;
    color: grey;
    bottom:0;
    width: 100%;
    background-color: black ;
    line-height: 3;
    text-align: center;
}